.App {
  padding: 30px;
}

.todos-list {
  display: flex;
  flex-wrap: wrap;
}

.todos-list > div {
  flex-shrink: 0;
  margin-right: 50px;
}

.error {
 border: red 1px solid;
}

.error-message {
 color: red;
}

.active-filter {
  background-color: aquamarine;
}

.is-done {
  opacity: 0.5;
}
